*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.assistant {
  animation: slideInUp 1s ease-out;
}

.intro {
  animation: slideInUp 2.5s ease-out;
}
.cause {
  opacity: 0; /* Initial state */
  transform: translateY(20px); /* Slight upward movement */
  animation: fadeIn 2.5s ease-in-out forwards; /* Animation details */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}